/* 
    colors changed according to ADW-1 Window Colors
    https://gnome.pages.gitlab.gnome.org/libadwaita/doc/main/named-colors.html#window-colors
*/

@media (prefers-color-scheme dark)
{
  --background-color: #242424;
  --text-color: #fff;
}

@media (prefers-color-scheme light)
{
  --background-color: #fafafa
  --text-color: rgba(0, 0, 0, 0.8);
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Cantarell, "Droid Sans", Ubuntu, "DejaVu Sans", Arial, sans-serif !important;
}
